.navbar-brand img {
    width: 30px;
    height: 30px;
}

body {
    font-family: 'Cabin', sans-serif;
}

h2 {
    text-transform: uppercase;
    font-weight: bold;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

footer i {
    font-size: 1.5rem;
}